
@import url('href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" ');
@import url('"https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap"');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open+Sans' ,sans-serif;
}

.hero-section {
background-image: url('./assets/goldenTemple.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
min-height: 100vh;
position: relative;
}

.hero-section::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

header {
  position: sticky;
  top:0;
  z-index: 20;
  
}

.container{
  max-width: 1440px;
  width: 100%;

}

.container nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container nav .logo{
  cursor: pointer;
}


.container .nav-links {
  display: flex;
  gap:3rem;
}




.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,  0% );
}


.icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;

}

@media (max-width:701px) {
  .logo img {
    width: 40%;
  }
}

@media(max-width:1070px) {
  .content h2{
    font-size: 3rem;
    text-align: center;
    position: relative;
    width: 100%;
  }
  .content p{
    text-align: center;
  }
  .content {
    position: absolute;
    top: 40%;
    transform: translate(-50%,  0% );
    width: 95%;
  }
  .icon{
    display: block;
    color: #f5a74f;
    z-index: 10;
  }
  .container .nav-links{
    /* display: none; */
  }
  .container button {
    display: block;
  }
   .container  .nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    gap: 0rem;
    width:70%;
    position: absolute;
    height: 60vh;
    top: -900px;
    right: 0;
    z-index: 10;
    margin-right: 30px;
    margin-left: 10px;
    padding: 1rem;
    border-radius: 5px;
   
  }

  .nav-links.active{
    top: 110%;
  }
  .container ul li a {
    color: rgb(40, 40, 40);
    font-size: 1.1rem;
    padding: 0.7rem 1rem ;
    display: block;
    border-radius: 10px;
    border-radius: 4px;
    z-index: 10;
    
  }
  .container ul li a:hover{
    background-color: #f5a74f;
  }
}

@media(max-width:396px){
  .container  .nav-links{
    padding: 10px;
    width: 80%;
    margin-left: 40px;
  }
  .book-button{
    width: fit-content;
  }
  .hero-section {
    background-image: url('./assets/goldenTemple.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 110vh;
    position: relative;
    }
}

@media(max-width:1061px){
  .hero-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;

  }
  .paragraph{
    width: 100%;
    padding: 0 20px;
  }


}

@media(max-width:530px){
 .hero-section-2 .paragraph{
    width: 100%;
    padding: 0 5px ;
  }
}

/* px-10 card-container grid grid-cols-3 gap-8 */

@media(max-width:1111px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    padding: 0 1rem;
  }

}

@media(max-width:741px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    
  }
  .main-container{
    margin-left: 20px;
  }
}

@media(max-width:741px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    gap: 4rem;
   
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: 0px;
  }
  .main-container{
    margin-left: 0px;
  }
  .tour-heading {
   
    padding: 0 20px;
   
  }
}


@media (max-width:1217px) {
  .package{
    padding: 0 5px;
  }
}



@media (max-width:1136px) {
  .package{
    padding: 0 50px;
    /* margin-left: 8rem; */
  }
 .package-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
 
 
 }
 
}


@media (max-width:663px) {
  .package{
    padding: 0 30px;
    /* margin-left: 8rem; */
  }
 .package-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
 
  
 }
 .package-day-head{
    font-size: 12vw;
    margin-left: 1px;
 }
 .package-ul{
   margin-bottom: 10rem;
 }
 .tour-heading{
  padding: 0 20px;
  margin-left: 0px;
 
 }
}

@media (max-width:1190px) {
  .taxi-container{
    display:flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 2rem;
  }
  .taxi-container img {
    width: 50%;
  }
  .taxi-container p {
    margin-top: 2rem;
    width: 80%;
  }
  .taxi-container button {
    width:140% ;
 }
}

@media (max-width:772px) {
  .taxi-container{
    display:flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: 2rem;
  }
  .taxi-container img {
    width: 90%;
  }
  .taxi-container button {
   width:100% ;
}
.taxi-container p {
  margin-top: 2rem;
  width: 100%;
}
}


@media (max-width:1008px){
   .review-container{
    padding: 10px 20px;
   }
}
@media (max-width:1008px){
  .review-container{
   display: flex;
   flex-direction: column;
   gap: 10px;
  }
  .review-container img {
    width: auto;
  }
}

@media (max-width:1008px){
  .review-container{
   padding: 10px 20px;
  }
  .review-container p {
    width: 100%;

  }
  .review-container .review-child {
    padding: 10px 10px;
  }
}

@media (max-width:1034px) {
  .aboutus-container{
    padding: 10px 10px;
  }
}

@media(max-width:889px){
  .aboutus-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 0px 0px;
  }
  .aboutus-child{
    padding: 20px 20px;
  }
}

@media(max-width:462px){
  .aboutus-child{
    padding: 10px 10px;
    width: 100%;
  }
}

@media(max-width:775px){
  .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    
  }
  .footer-child{
    padding: 10px 20xp;
    display: flex;
    margin-right: 10rem;
  }
}

@media (max-width:891px) {
  .about-us-main{
   display: flex;
   flex-direction: column;
   padding: 20px 20px;
   margin-top: 20px;

  }
  .about-us-main img ,p {
   width: auto;
    
 
   }
   .about-us-main p {
    width: auto;

    }
}


@media (max-width:1056px) {
  .booking-container{
    padding: 35px 25px;
  }
  .booking-container img{
    width: 40%;
  }
}

@media (max-width:842px) {
  .booking-container img{
    width: 35%;
  }
}

@media (max-width:790px) {
  .booking-container img{
   display: none;
  }
  .booking-container input {
    width: 100%;
  }
  .booking-container select {
    width: 100%;
  }
  .booking-container button {
    width: 100%;
  }
}

@media (max-width:572px) {
  .booking-heading{
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width:391px) {
  .booking-heading{
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .booking-child{
    display: flex;
    flex-direction: column;
    
  }

   .input-child {
    margin-left: 0px;
    margin-top: 1.3rem;
   }
}



@media (max-width:920px) {
  
  

  .temple-child img {
    width: auto;

  }
  
  .temple-head{
    font-size: 2.5rem;
  }
  
}

@media (max-width:920px) {
  
  .temple-container {
    padding: 20px 20px;
    
  }
  
  .temple-container p{
    padding: 5px 18px;
  }


  .temple-child img {
    width: auto;

  }
  
  .temple-head{
    font-size: 2.5rem;
  }


  
}

@media (max-width:406px) {
  .temple-container button {
    width: 80%;
  }
}

@media (max-width:1241px) {
  .fleet-container{
   padding: 20px 30px;
  }
}

@media (max-width:1241px) {
  .fleet-container{
   display: grid;
   grid-template-columns: repeat(2,1fr);
  }
  .fleet-child {
    padding: 20px;
  }
}

@media (max-width:545px) {
  .fleet-container{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   padding: 10px 20px;
  }
  .fleet-child {
    padding: 20px;
  }
}

@media (max-width:1149px){
  .package-child2{
    width: 50%;
  }
}
@media (max-width:823px){
  .package-container1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .package-child2{
    width: 100%;
    display: flex;
    flex-direction: column;
  
  }
  .package-child1{
    width: 100%;
  }
 
}

@media (max-width:887px){
  .package-container1{
   
  }
  
  .package-child1{
    width: 100%;
  }
}

@media (max-width:771px){
  .package-container1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10px 30px;
  }
  .package-child2{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .package-child2 h2 {
    font-size: 2.7rem;
  }
  .package-child2 h1 {
    font-size: 1.7rem;
  }
  .package-child1{
    width: 100%;
  }   
 
}

@media (max-width:730px) {
  .package-container3{
    padding: 10px 2px;
  }
  .package-container2 button {
    width: 80%;
  }
  .package-container2 .special-h1{
    font-size: 2rem;

  }
  .package-container2 p{
    font-size: 1.1rem;

  }
}




@media (max-width:1095px) {
  .gallery-container1{
   padding: 10px 20px;
   
  }
}

@media (max-width:631px) {
  .gallery-container1{
   padding: 10px 5px;
   
  }
}




@media (max-width:631px) {
  .gallery-container1{
   padding: 10px 5px;
   
  }
  .preview-container{
    padding: 30px 10px;
    width: 100%;
  }
  .previous-photo{
position: absolute;
 left: 0;
  }
  .next-photo{
    position: absolute;
 right: 0;
   }
}

@media (max-width:691px) {
  .founder-head{
    text-align: center;
    width: 100%;
    margin-left: 5px;
  }
}

